<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--引入spring-dao.xml-->
    <import resource="classpath:spring-service.xml"/>


    <!--扫包-->
    <context:component-scan base-package="com.msj.controller"/>

    <!--开启注解-->
    <mvc:annotation-driven />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--注册拦截器-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash;除了登录页面，其他页面都拦截&ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/to_login"/>-->
            <!--<mvc:exclude-mapping path="/login"/>-->
            <!--&lt;!&ndash;注入LoginInterceptor&ndash;&gt;-->
            <!--<bean class="com.msj.controller.LoginInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->



</beans>