<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msj.dao.EmployeeDao">
    <resultMap id="employee" type="com.msj.entity.Employee">
        <id property="sn" column="sn" javaType="String"/>
        <result property="password" column="password" javaType="String"/>
        <result property="name" column="name" javaType="String"/>
        <result property="departmentSn" column="department_sn" javaType="String"/>
        <result property="post" column="post" javaType="String"/>
        <association property="department" column="department_sn" javaType="com.msj.entity.Department">
            <id property="sn" column="dsn" javaType="String"/>
            <result property="name" column="dname" javaType="String"/>
        </association>
    </resultMap>
    <select id="selectOne" resultType="java.lang.Integer">
        select sn,password from employee where sn=#{sn} and password=#{password}
    </select>

    <select id="selectAll" resultMap="employee">
        select e.sn,e.name,e.post,d.name from employee e,department d
    </select>
</mapper>