<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///oa"/>
        <property name="username" value="root"/>
        <property name="password" value="msj"/>
    </bean>
    <!--sqlSessionFactoryBean-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--连接数据库-->
        <property name="dataSource" ref="dataSource"/>
        <!--引入多个mapper映射文件xml-->
        <property name="mapperLocations">
            <list>
                <value>classpath:DepartmentMapper.xml</value>
                <value>classpath:EmployeeMapper.xml</value>
            </list>
        </property>

    </bean>

    <!--自动扫包-->
    <context:component-scan base-package="com.msj.dao"/>

    <!--扫描mapper接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.msj.mapper"/>
    </bean>


</beans>